<a href="https://colab.research.google.com/github/jeffersonjpa/DataScienceStudies/blob/master/pandas_studies2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import files
uploaded = files.upload()

Saving Womens Clothing E-Commerce Reviews.csv to Womens Clothing E-Commerce Reviews.csv

In [0]:
import pandas as pd
# dataset = pd.read_csv('data_risk_management.csv')
data = pd.read_csv('Womens Clothing E-Commerce Reviews.csv')

In [0]:
data.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [0]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23486 entries, 0 to 23485
Data columns (total 11 columns):
Unnamed: 0                 23486 non-null int64
Clothing ID                23486 non-null int64
Age                        23486 non-null int64
Title                      19676 non-null object
Review Text                22641 non-null object
Rating                     23486 non-null int64
Recommended IND            23486 non-null int64
Positive Feedback Count    23486 non-null int64
Division Name              23472 non-null object
Department Name            23472 non-null object
Class Name                 23472 non-null object
dtypes: int64(6), object(5)
memory usage: 2.0+ MB

In [0]:
# data[2:3] #Somente as linhas 2 a 3 (3 não inclusa), ou seja, somente 1 única linha
# data[1:3] #Somente as linhas 1 a 3 (3 não incluso) com todas as colunas
# data.loc[[1],] #Extrai a linha 1 de todas as colunas uma vez que a coluna não está informada.
# data.loc[[0],['Country Name']] #Somente a célular linha 0 com coluna 'Country Name'
# data.loc[:,'Country Name'] #Todos as linhas da coluna Country Name
# data.loc[1] #Todas as informações de uma linha como se fosse uma célula
# data.loc[0:3,['Country Name']] #Somente as linhas 0 a 3 com a coluna 'Country Name'

# data.loc[0:3,['Country Name','Indicator Name']] #Somente as linhas 0 a 3 com as colunas 'Country Name' and 'Indicator Name'

# data.iloc[[1],[1]]
# cl = data.loc[data.polarity == 1, ['Review Text']].sample(5).values
# for c in cl:
#     print(c[0])

data.loc[, ['Review Text']]

SyntaxError: ignored